.meta-data-container{
    display: flex;
    align-items: start;
    color: #828282;
    /* border:2px solid red; */
    /* height:50px; */
}

.meta-title:hover,
.meta-title{
   text-decoration: none;
   color: black;
   font-size: 14px;
}

.small-meta-text{
   font-size: 12px;
}

.bottom-meta-text{
    font-size:10px;
}
.bottom-meta-link,
.small-meta-text,
.bottom-meta-link:hover,
.small-meta-text:hover{
    color:#828282;
}
.upvote-icon{

 margin-top:2px;
 margin-left: 0px;
 margin-right:0px;
}

.bottom-meta{
    margin-bottom: 0px;
}

.index{
   font-size: 14px;
}
